*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1E0033;
    color: white;
}

.block{
    display: block;
    color: white;
    text-decoration: none;
    margin: 100px 3px;
    font-size: 1.3em;
}

.block:hover{
    text-decoration: underline;
}

.nav-block{
    background-color: #2A003F;
    width: 250px;
    margin: 0;
    padding: 22px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.nav-block.closed {
    transform: translateX(-100%);
}

#toggleSidebar {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    padding: 15px 15px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #121222;
    color: white;
    border: none;
    border-radius: 5px;
}

h1{
    font-size: 10em;
    color: white;
    text-align: center;
}


.bold{
    font-weight: bold;
}

.underscore{
    text-decoration: underline;
}

header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121222;
    height: 100px;
    width: 100%;
}

header p{
    color: white;
    font-size: 1.5em;
    margin: 35px auto;
}

main{
    padding: 20px;
    margin-top: 100px;
}

.nav-block.closed + main {
    margin-left: 30px;
    margin-top: 50px;
}

.gallery{
    display: flex;
    gap: 16px;
    padding: 20px 10px;
    justify-content: center;
}

.gallery img{
    width: 100%;
    max-width: 350px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}